<h1 class="font-semibold mb-2">Muokkaa kommenttia</h1>

<%= render "form.html", Map.merge(assigns, %{
  action: Routes.comment_path(@conn, :update, @comment),
  user: @changeset.data.user_id,
  delete_intention: true
}) %>
